body {
  background-color:rgba(0, 125, 255, 1);
  font-family:Verdana;
  font-size:4vw;
  padding:2vw;
  margin-top:2vw;
}
h1 {
  margin-bottom:0 !important;
  padding:none !important;
  }
p {
  margin-top:0 !important;
  font-size:3vw;
  }
Hr {
  padding:none !important;
  margin:none !important;
}
