body {
  background-color: powderblue;
}
p {
  color: green;
}
a:link {
  color: white;
  background-color: none;
  text-decoration: none;
}
a:visited {
  color: pink' 
  background-color: transparent; 
  text-decoration: underline;
}

a:active {
  color: blue; 
  background-color: transparent; 
  text-decoration: underline;
}
ul {
 border: 5px;
 color:gold
 text-align: center;
}
.note {
  font-size: 125% !important;
  color: rgba(125, 52, 210, 0.5) !important;
  border:none !important;
  padding:none !important;
  margin:none !important;
}
.city {
  background-color: rgba(137, 137, 200, 0.8);
  color: rgba(200, 255, 0, 0.9);
  border: 2px solid black;
  margin: 35px;
  padding: 35px;
}
p {font-size: 40px;}
body {font-size:40px;}
table, th, td {
  border: 2px solid black; padding: 20px; border-collapse: collapse;
}
#t01 {
  width: 100%;
}
#t02 tr:nth-child(even) {
  Background-color: #eee;
}
#t02 tr:nth-child(odd) {
  background-color: #fff;
}
#t02 th {
  background-color: black;
  color: white;
}  
#t01 {
  background-color: #f1f1c1;
}
